<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Pinterest</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/stylesheets/error.css" />
	</head>
	<body>
		<link
			href="https://fonts.googleapis.com/css?family=Carter+One"
			rel="stylesheet"
			type="text/css"
		/>

		<div class="fon">
			<div class="horizon">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="hill"></div>

			<span class="not-found">Page - Not Found</span>
			<span class="page-404">ERROR 404</span>
			<div class="moon-sky"></div>
			<div class="satellite">☄</div>
			<div class="meteores">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="cosmos-star">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="my-cat">
				<div class="ear-l">
					<div class="ear-fur-l"></div>
				</div>
				<div class="ear-r">
					<div class="ear-fur-r"></div>
				</div>
				<div class="head-cat">
					<div class="tabby-cat"></div>
					<div class="tabby-cat-1"></div>
					<div class="tabby-cat-2"></div>
					<div class="eye-l">
						<div class="eye-lz"></div>
					</div>
					<div class="cat-nose"></div>
					<div class="eye-r">
						<div class="eye-rz"></div>
					</div>
					<div class="muzzle-cat"></div>
					<div class="jaws-cat"></div>
					<div class="whiskers">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
				<div class="body-cat"></div>
				<div class="body-cat-1"></div>
				<div class="paw-cat-l"><div></div></div>
				<div class="paw-cat-r"><div></div></div>
				<div class="tail-cat"></div>
			</div>
			<div class="rock">
				<div class="rock-mountain_1"></div>
				<div class="rock-mountain_s_1"></div>
				<div class="rock-mountain_2"></div>
				<div class="rock-mountain_s_2"></div>
				<div class="rock-mountain_3"></div>
				<div class="rock-mountain_s_3"></div>
			</div>
		</div>
		<script src="" async defer></script>
	</body>
</html>
