<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>ImageNet</title>
		<!-- <script src="https://cdn.tailwindcss.com"></script> -->
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="container">
			<div class="content">
				<!--pinterest logo-->
				<img
					src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png"
					alt="pin logo"
					class="img1"
				/>
				<p class="header">Welocome to ImageNet</p>
				<p style="color: #666565">Find new ideas to try</p>
				<form action="/register" method="post">
					<input
						type="email"
						name="email"
						placeholder="Email"
						class="detail"
					/><br />
					<input
						type="text"
						name="username"
						placeholder="username"
						class="detail"
					/>
					<br />
					<input
						type="text"
						name="fullname"
						placeholder="Full Name"
						class="detail"
					/>
					<br />
					<input
						type="password"
						name="password"
						placeholder="Create a password"
						class="detail"
					/>
					<input type="submit" class="btn int" value="Register Account" />
				</form>

				<a class="alternet" href="/forgot">Forgot your password?</a>

				<p class="or">OR</p>
				<button class="btn fbk">
					<i
						class="fab fa-facebook fa-lg"
						style="color: white; padding-right: 10px"
					></i
					><a href="#">Continue with Facebook</a></button
				><br />
				<button class="btn ggl">
					<i
						class="fab fa-google"
						style="color: rgb(11, 241, 22); padding-right: 10px"
					></i
					><a href="#">Continue with Google</a>
				</button>

				<footer>
					<p>
						By continuing, you agree to Pinterest's
						<b>Terms of Service, Privacy policy.</b>
					</p>
					<hr />
					<a class="alternet" href="/login"
						>Already on Pinterest yet? <span> <b> Sign up </b> </span>
					</a>
				</footer>
			</div>
		</div>

		<script src="" async defer></script>
	</body>
</html>
